<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>

  <ion-item href="0">
    <ion-label>Contexto</ion-label>
  </ion-item>

  <ion-card-content>
    <p class="parrafo" style="color: rgb(0, 0, 0)">
      En el contexto actual de la pandemia que a nivel mundial se está viviendo, 
      han surgido una serie de situaciones por las que las instituciones de educación superior han tenido que sobre llevar.
      Una de ellas es el hecho de tener una continuidad en la educación llevando las clases de la modalidad presencial a la modalidad remota. 
      Sin embargo, con el paso de los meses y con el actuar de distintos actores, a saber, autoridades sanitarias,colaboración con entidades comunales, 
      cuidados y responsabilidad de la ciudadanía, entre otros, ha llevado a volvera cierta presencialidad.
    </p>
  </ion-card-content>
</ion-card>



  <center><img src="assets/clasesonline.jpg" class="ion-padding"></center>


<ion-card>
  <ion-card-content>
    <p class="parrafo" style="color: rgb(0, 0, 0)">
      En RegistrAPP podremos ingresar con nuestras credenciales academicas, para poder ingresar nuestra asistencia en clases.
    </p>
  </ion-card-content>
</ion-card>


<center><img src="assets/pasarlista.jpg" class="ion-padding"></center>

  <ion-card>
    <ion-card-content>
      <p class="parrafo" style="color: rgb(0, 0, 0)">
        Para que los estudiantes logren quedar presentes en las clases, cada profesor generará un codigo QR, con el cual el estudiante
        podrá quedar registrado dentro de la asistencia.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
